@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
:root {
  scroll-behavior: smooth;
}

:root {
  --primaryBgColor: #fff;
  --secondaryBgColor: #eef2fa;
  --ternaryBgColor: #f4f4f4;
  --forteryBgColor: #f0f3f8;

  --boxShadowColor: rgba(0, 0, 0, 0.1);

  --primaryTextColor: #000000eb;

  --LinkBgColor: #eef2fa;

  --primaryHeadingColor: #151515;
  --secondaryHeadingColor: #383838;
  --primaryParagraphColor: #2e2e2e;
  --secondaryParagraphColor: #444444;

  --cardBgColor: #f7f7f9;
  --skeletonBaseColor: #eef2fa;
  --skeletonHighlightColor: #dddddd;

  --secondaryHoverColor: #000;

  --primaryBtnBgColor: #0b5ed7;
  --primaryBtnTextColor: #ffffff;
  --primaryBtnBgHoverColor: #24a2dc;
}

[data-color="yellow"] {
  --sectionTitleColor: #e5e916;
  --sectionParagraphColor: #c0c00c;
  --sectionMiniColor: #7b8b3f;

  --LogoBgColor: #fbff03;
  --LogoTextColor: #000000eb;

  --togglerColor: #fbff03;
  --togglerBorderColor: #fbff03;

  --LinkColor: #7b8b3f;
  --LinkActiveColor: #e5e916;
  --LinkHoverColor: #cfd300ea;
  --LinkHoveredTextColor: #fff;
}
[data-color="green"] {
  --sectionTitleColor: #55df15;
  --sectionParagraphColor: #40b40a;
  --sectionMiniColor: #4c8b3f;

  --LogoBgColor: #60ff21;
  --LogoTextColor: #014e9d;

  --togglerColor: #60ff21;
  --togglerBorderColor: #60ff21;

  --LinkColor: #4c8b3f;
  --LinkActiveColor: #55df15;
  --LinkHoverColor: #37c200;
  --LinkHoveredTextColor: #fff;
}
[data-color="cyan"] {
  --sectionTitleColor: #205bff;
  --sectionParagraphColor: #0c4baa;
  --sectionMiniColor: #0c2e64;

  --LogoBgColor: #4154f1;
  --LogoTextColor: #014e9d;

  --togglerColor: #205bff;
  --togglerBorderColor: #205bff;

  --LinkColor: #0e4494;
  --LinkActiveColor: #205bff;
  --LinkHoverColor: #205bff;
  --LinkHoveredTextColor: #fff;
}
[data-color="orange"] {
  --sectionTitleColor: #ffae17;
  --sectionParagraphColor: #d6900f;
  --sectionMiniColor: #856325;

  --LogoBgColor: #ffae17;
  --LogoTextColor: #014e9d;

  --togglerColor: #ffae17;
  --togglerBorderColor: #ffae17;

  --LinkColor: #bd8216;
  --LinkActiveColor: #ffae17;
  --LinkHoverColor: #ffb120;
  --LinkHoveredTextColor: #fff;
}
[data-theme="dark"] {
  --primaryBgColor: #000;
  --secondaryBgColor: #121212;
  --ternaryBgColor: #151515;
  --forteryBgColor: #191818;

  --boxShadowColor: rgba(47 45 46 / 64%);

  --primaryTextColor: #f0f0f0;

  --LogoTextColor: #fff;

  --LinkBgColor: #121212;

  --primaryHeadingColor: #ffffff;
  --secondaryHeadingColor: #f1f1f1;

  --cardBgColor: #0e0e0e;
  --skeletonBaseColor: #1f1f1f;
  --skeletonHighlightColor: #4a4a4a;

  --primaryParagraphColor: #dfdfdf;
  --secondaryParagraphColor: #b1b1b1;

  --secondaryHoverColor: #000;

  --primaryBtnBgColor: #0b5ed7;
  --primaryBtnTextColor: #ffffff;
  --primaryBtnBgHoverColor: #24a2dc;
}
body {
  font-family: "Open Sans", sans-serif;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  padding: 12px 20px;
  text-align: center;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}

th .menu {
  visibility: hidden;
}

th:hover .menu {
  visibility: visible;
}

.topbar {
  box-shadow: 9px 8px 9px rgba(0, 0, 0, 0.1);
}
.topbar {
  background-color: var(--primaryBgColor);
}
.hamburger {
  color: var(--primaryTextColor);
}

.search-bar {
  border-color: var(--forteryBgColor);
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
}
.search-bar input {
  background-color: var(--secondaryBgColor);
  color: var(--primaryTextColor);
}
.search-bar svg {
  color: var(--primaryTextColor);
}
.right-topbar-items svg {
  color: var(--primaryTextColor);
}
.profiler {
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
}
.profile-dropdown {
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
}
.profile-dropdown::before {
  content: "";
  position: absolute;
  top: -10px;

  right: 20px;
  border-top: 1px;
  border-left: 1px;
  border-color: var(--primaryBgColor);
}
.navigation ul li:hover a::before,
.navigation ul li.active a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--LinkBgColor);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.active a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--LinkBgColor);
  pointer-events: none;
}

/* .navigation ul li:hover a::before {
  box-shadow: 35px 35px 0 10px var(--skeletonBaseColor);
  pointer-events: none;
} */
.activity-time::before {
  content: "";
  position: absolute;
  right: -20px;
  width: 4px;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--primaryBgColor);
}
.donut-chart svg foreignObject > div {
  display: none;
}
